body,
html {
  height: 100%;
}

.background {
  /* The image used */
  background-image: url("../images/news-link.jpg");
  /* Full height */
  height: 100%;
  background-color: rgb(26, 37, 74);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.transbox {
  background-color: #fcfcfdc7; /* or #bdc1d212 */
  height: 100%;
  color: white;
}
.home-text {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
.site-info {
  font-size: 2.8em;
  color: black;
}
.header {
  font-size: 5.5em;
  color: black;
}
.onboard {
  justify-content: center;
}
.onboard button {
  background-color: #242177bf;
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(229, 229, 229, 0.35);
  border-radius: 0;
}

.container {
  max-width: 100%;
}
.login-panel {
  margin-top: 20%;
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%;
  background: rgba(45, 57, 97, 0.85);
  box-shadow: 1px 1px 20px 3px #f8f9fa;
}
.login-panel button {
  width: 100%;
}
.col-sm-7.home-text {
  padding-top: 5%;
}
.login-panel input.form-control {
  color: white;
  background-color: rgba(45, 57, 97, 0.07);
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-radius: 0;
  border-bottom-width: 2px;
}

.input-group .fa {
  font-size: x-large;
  padding-top: 0.4em;
  border-bottom: solid;
  border-width: 0.08em;
  border-color: #dee2e6;
}
.login-panel button {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}
.site-logo {
  width: 80px;
  filter: brightness(0) invert(1);
  margin-left: 32%;
  margin-bottom: 2em;
}
.form-group button {
  margin-top: 1.5em;
}
.login-socials {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 50px;
  margin-right: 2em;
}
.social-auths {
  text-align: center;
}
.google-plus {
  filter: brightness(0) invert(1);
  width: 50px;
  margin-right: 2em;
}
.navbar-nav li {
  padding-right: 0.5em;
}
.btn-outline-secondary {
  color: white;
}

@media (max-width: 767px) {
  .btn-outline-secondary {
    width: 100%;
    padding-right: 0;
  }
  .form-inline .form-control {
    width: 100%;
  }
}
.nav {
  background-color: #0c57de;
  margin-bottom: 0.5em;
  border: 0;
}
a {
  color: white;
}
a:hover {
  color: black;
}
/* Float icon button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c57de;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}
/* End Float action button */
.card {
  margin: 1em;
}
.btn-primary {
  color: #fff;
  background-color: #0c57de;
  border-color: #0c57de;
}
.form-inline {
  padding-right: 0.5em;
}
body {
  background-color: #00234d;
}
.modal-title {
  color: black;
}
.createLink {
  width: 100%;
  margin-top: 1em;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  padding-bottom: 1.5em;
  background-color: #c6ccd4;
  padding-left: 1.5em;
}

.masonry-brick {
  flex: auto;
  width: 250px;
  margin: 0.5em;
}

.input-group .fa {
  color: black;
  padding: 0.4em;
  background: #e7ecef;
  border-width: thin;
  border-color: black;
}
form {
  color: black;
}

.col-sm-4 button {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.modal-header {
  border-bottom: 1px solid #0054e7;
}
.modal-footer {
  border-top: 1px solid #0054e7;
}
.error {
  font-size: 4em;
  text-align: center;
  color: black;
}
.card-content {
  margin: auto;
}
.description {
  margin-bottom: 0.3em;
}
.link-dp {
  margin-left: 0.5em;
}
.col-sm-4.text-center {
  padding: 0em;
}
.card-body {
  padding: 0.5em;
}
.card-title,
.card-text {
  color: black;
}
.card-title {
  margin-top: 0.3em;
}
