.background {
  background-image: url("../images/news-link.jpg");
  height: 100vh;
  background-color: rgb(26, 37, 74);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.transbox {
  background-color: #fcfcfdc7; /* or #bdc1d212 */
  min-height: 100vh;
  color: white;
}
.home-text {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
.site-info {
  font-size: 2em;
  color: black;
}
.header {
  font-size: 4.5em;
  color: black;
}
.onboard {
  justify-content: center;
}
.onboard button {
  background-color: #242177bf;
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(229, 229, 229, 0.35);
  border-radius: 0;
}

.container {
  max-width: 100%;
}
.login-panel {
  margin-top: 20%;
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 15%;
  padding-left: 10%;
  background: rgba(45, 57, 97, 0.85);
  box-shadow: 1px 1px 20px 3px #f8f9fa;
}
.login-panel button {
  width: 100%;
}
.col-sm-7.home-text {
  padding-top: 6%;
}
.login-panel input.form-control {
  color: white;
  background-color: rgba(45, 57, 97, 0.07);
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-radius: 0;
  border-bottom-width: 2px;
}

.input-group .fa {
  font-size: x-large;
  padding-top: 0.4em;
  border-bottom: solid;
  border-width: 0.08em;
  border-color: #dee2e6;
}
.login-panel button {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}
.site-logo {
  width: 80px;
  filter: brightness(0) invert(1);
  margin-left: 32%;
  margin-bottom: 2em;
}
.form-group button {
  margin-top: 1.5em;
}
.login-socials {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 50px;
  margin-right: 2em;
}
.social-auths {
  text-align: center;
}
.google-plus {
  filter: brightness(0) invert(1);
  width: 50px;
  margin-right: 2em;
}
.navbar-nav li {
  padding-right: 0.5em;
}
.btn-outline-secondary {
  color: white;
}

@media (max-width: 767px) {
  .btn-outline-secondary {
    width: 100%;
    padding-right: 0;
  }
  .form-inline .form-control {
    width: 100%;
  }
  .fa-power-off {
    width: 99%;
  }
  #navbarToggler li:nth-child(1) {
    margin-top: 3em;
  }
}
@media (max-width: 991px) {
  .navbar-expand-md .navbar-nav {
    margin-bottom: 0.6em;
  }
}

.nav {
  background-color: #0c57de;
  margin-bottom: 0.5em;
  border: 0;
}
a {
  color: white;
}
a:hover {
  color: black;
}
/* Float icon button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c57de;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}
/* End Float action button */
.card {
  margin: 1em;
}
.btn-primary {
  color: #fff;
  background-color: #0c57de;
  border-color: #0c57de;
}
.form-inline {
  padding-right: 0.5em;
}
body {
  background-color: #00234d;
}
.modal-title {
  color: black;
}
.createLink {
  width: 100%;
  margin-top: 1em;
}

.input-group .fa {
  color: black;
  padding: 0.4em;
  background: #e7ecef;
  border-width: thin;
  border-color: black;
}
form {
  color: black;
}

.col-sm-4 button {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.modal-header {
  border-bottom: 1px solid #0054e7;
}
.modal-footer {
  border-top: 1px solid #0054e7;
}
.error {
  font-size: 4em;
  text-align: center;
  color: black;
}
.card-content {
  margin: auto;
}
.description {
  margin-bottom: 0.3em;
}
.link-dp {
  margin-left: 0.5em;
}
.card-body {
  padding: 0.5em;
}
.card-title,
.card-text {
  color: black;
}
.card-title {
  margin-top: 0.3em;
}
.signup-link {
  margin-top: 1em;
  color: white;
}
.signup-link a {
  color: lightgreen;
}
.card-footer {
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.card-footer button {
  float: right;
  height: 2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.card-footer i {
  float: inherit;
}
.link-url {
  color: #0054e7;
  background-color: #f8f9fa;
  border-color: #333a41;
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.delete-link {
  color: #b51414;
  background-color: #f7f7f7;
  border-color: #dc3545;
}
.col-sm-4.text-center {
  margin-bottom: 1em;
  padding: 0em;
  padding-right: 1em;
}

.fixed-top.nav-tabs {
  top: 56px;
}

.delete-form {
  color: black;
  text-align: center;
}

.fa-exclamation-circle {
  font-size: 4.5em;
  color: darkorange;
}
@media screen and (max-width: 575px) {
  .home-text {
    display: none;
  }
  .feature {
    max-width: none;
    width: 100%;
  }
  .card-img-top {
    height: auto;
  }
}

@media screen and (min-width: 576px) {
  .card-img-top {
    height: 200px;
  }
}

.feature {
  -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  background: #fff;
  display: table;
  border-radius: 5px;
}
.row.news-links {
  margin: auto;
  margin-top: 6em;
  padding-top: 1em;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
  color: black;
  padding-top: 12em;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
.fa-heart-o {
  margin-left: 0.5em;
  color: blue;
}
.vote-count {
  color: blue;
  float: right;
  line-height: 2;
  font-size: 0.9em;
}
.fa-heart {
  line-height: 1.2;
}
.vote-number {
  font-size: 0.8em;
  margin-right: 1.5em;
}
